extends ../jade-bootstrap/_bootstrap

append styles
    +bootswatch("darkly")
    link(type="text/css" rel="stylesheet" href="stylesheets/wheelcolorpicker.dark.css")
    link(type="text/css" rel="stylesheet" href="stylesheets/style.css")
    link(href="stylesheets/cover.css", rel="stylesheet")

append head
    title= title

append body
    //cover template defaults
    .container(align="center" id="container")
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    .masthead.clearfix
                        .inner
                            //navbar + tabs
                            h3.masthead-brand rpiled
                            nav
                                ut.nav.masthead-nav
                                    li.active
                                        a(href="#") Home
                                    li
                                        a(href="/cool") Features
                        .inner.cover
                            h1.cover-heading rplied
                            container(align="center")
                                div(class="row" align="center" id="main")
                                    //colorwheel
                                    input(data-wheelcolorpicker id="color-input" data-wcp-layout="block" data-wcp-autoResize="false" type="text")
                                    // hex pickter
                                    div(class="row" align="center" )
                                        label(class="label") Hex:
                                        input(type="text" id="event-color")
                                        +btn("Submit Hex")(id="hex-btn")

                                    //rgb sliders
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") R:
                                            input(type="text" id="r-color")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" min="0" max="255" value="50")
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") R:
                                            input(type="text" id="r-color")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" min="0" max="255" value="50")
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") R:
                                            input(type="text" id="r-color")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" min="0" max="255" value="50")
                                        
                                    script.
                                        $(function() {
                                            $('#color-input').on('slidermove', function() {
                                                $('#event-color').val($(this).wheelColorPicker('getValue', 'hex'));
                                            });
                                        });
                
append scripts
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type="text/javascript" src="javascripts/jquery.wheelcolorpicker.js")
    script(src="javascripts/index_scripts.js")