extends ../jade-bootstrap/_bootstrap

append styles
    +bootswatch("darkly")
    link(type="text/css" rel="stylesheet" href="stylesheets/wheelcolorpicker.dark.css")
    link(type="text/css" rel="stylesheet" href="stylesheets/style.css")
    link(href="stylesheets/cover.css", rel="stylesheet")

append head
    title= title

append body
    //cover template defaults
    .container(align="center" id="container")
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    .masthead.clearfix
                        .inner
                            //navbar + tabs
                            h3.masthead-brand rpiled
                            nav
                                ut.nav.masthead-nav
                                    li.active
                                        a(href="#") Home
                                    li
                                        a(href="/cool") Features
                        .inner.cover
                            h1.cover-heading rpiled
                            container(align="center")
                                div(class="row" align="center" id="main")
                                    //colorwheel
                                    input(data-wheelcolorpicker id="color-input" data-wcp-layout="block" data-wcp-autoResize="false" type="text")
                                    // hex pickter
                                    div(class="row" align="center" )
                                        label(class="label") Hex:
                                        input(type="text" id="event-color" value="ffffff")
                                        +btn("Submit Hex")(id="hex-btn")

                                    //rgb sliders
                                    //TODO: Set values to defaults pulled from Database
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") R:
                                            input(type="text" class="rgb-color" id="R-color" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="r-slider" min="0" max="255" value="255")
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") G:
                                            input(type="text" class="rgb-color" id="G-color" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="g-slider" min="0" max="255" value="255")
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") B:
                                            input(type="text" class="rgb-color" id="B-color" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="b-slider" min="0" max="255" value="255" )
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") Brightness:
                                            input(type="text" class="rgb-color" id="brightness-input" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="brightness-slider" min="0" max="255" value="255" )
                                        +btn("Submit Brightness")(id="brightness-btn")
                                        
                                    //Javascript to set slider input values
                                    //TODO: Move to it's own JS file(if possible)
                                    //script.
                                        $(function() {
                                            $('#color-input').on('slidermove', function() {
                                                $('#event-color').val($("#color-input").wheelColorPicker('getValue', 'hex'));
                                                var rgb = $("#color-input").wheelColorPicker('getValue', 'rgb');
                                                var arr = rgb.split(" ")
                                                $('#R-color').val(arr[0]);
                                                $('#G-color').val(arr[1]);
                                                $('#B-color').val(arr[2]);
                                            });
                                        });
                
append scripts
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type="text/javascript" src="javascripts/modules/jquery.wheelcolorpicker.js")
    script(src="javascripts/axios_test.js")
    script(src="javascripts/index_scripts.js")
    script(src="javascripts/modules/axios.min.js")
    //script(src="https://unpkg.com/axios/dist/axios.min.js")