extends ../jade-bootstrap/_bootstrap

append styles
    +bootswatch("darkly")
    link(type="text/css" rel="stylesheet" href="stylesheets/wheelcolorpicker.dark.css")
    link(type="text/css" rel="stylesheet" href="stylesheets/style.css")
    link(href="stylesheets/cover.css", rel="stylesheet")
    

append scripts
    script(type="text/javascript" src="javascripts/modules/jquery.wheelcolorpicker.js")
    script(src="javascripts/modules/axios.min.js")
    script(src="javascripts/axios_test.js")
    script(src="javascripts/index_scripts.js")
    // script(src="javascripts/login_scripts.js")

append head
    title= title

append body
    //cover template defaults
    .container(align="center" id="container")
        .site-wrapper
            .site-wrapper-inner
                .cover-container
                    .masthead.clearfix
                        .inner
                            nav
                                ut.nav.masthead-nav
                                    li.active
                                        a(href="#") Home
                                    li
                                        a(href="/login") Features
                                    li
                                        a(href="/login" id="logout") Log Out
                        .inner.cover
                            h1.cover-heading RPI
                                span(style="color: #70e0fe;" id="span1") LED
                            container(align="center")
                                div(class="row" align="center" id="main")
                                    //colorwheel
                                    input(data-wheelcolorpicker id="color-input" data-wcp-layout="block" data-wcp-autoResize="false" type="text")
                                    // hex picker
                                    div(class="row" align="center" )
                                        label(class="label") Hex:
                                        input(type="text" id="event-color" value="ffffff")
                                        +btn("Submit Hex")(id="hex-btn")

                                    //rgb sliders
                                    //TODO: Set values to defaults pulled from Database
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") R:
                                            input(type="text" class="rgb-color" id="R-color" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="r-slider" min="0" max="255" value="255")
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") G:
                                            input(type="text" class="rgb-color" id="G-color" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="g-slider" min="0" max="255" value="255")
                                    div(class="row" align ="center" id="rgbdiv")
                                        div(class="row-col" id="rc-input")
                                            label(class ="label" id="rgb-input") B:
                                            input(type="text" class="rgb-color" id="B-color" value="255")
                                        div(class="row-col" id="rc-slider")
                                            div(id="slider-wrapper")
                                                input(type="range" class="slider" id="b-slider" min="0" max="255" value="255" )
                                    div(class="row" align="center" id="rgbdiv")
                                        div(class="row-col" id="cblabel")
                                            label(for="checkbox" id="checkboxLabel") Dynamic Update:
                                        div(class="row-col" id="cb")    
                                            input(type="checkbox" name="checkboxname" value="value" id="check-id")

                                    
                
