body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
}

a {
  color: #00B7FF;
}
.label {
  padding-right: 10px;
  font-size: 14px;
}
.row-col {
  float: left;
  margin: 2px;
  padding: 2px;
}
.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
}
.slider {
  width:20px;
}
#event-color {
  
}
#container {
  background-color: #222;
  min-height:100%;
  position:relative;
}
#hex-btn {
  margin: 10px;
  font-size: 13px;
}
.rgb-color {
  width: 40px;
}
#rgbdiv {
  padding-top:5px;
  margin: 2px;
  width: 250px;
}
#rc-input {
  width:40%
}
#rc-id {
  width:2px;
}
#rc-slider {
  width:40%;
}
#rgb-input {
  width: 25px;
}