@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Lato', sans-serif;
  background-color: #222;
}

a {
  color: #00B7FF;
}
.label {
  padding-right: 10px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.row-col {
  float: left;
  margin: 2px;
  padding: 2px;
}
.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
}
.slider {
  width:20px;
}
#event-color {
  
}
#container {
  background-color: #222;
  min-height:100%;
  position:relative;
}
#hex-btn {
  margin: 10px;
  font-size: 13px;
}
.rgb-color {
  width: 40px;
}
#rgbdiv {
  padding-top:5px;
  margin: 2px;
  width: 250px;
}
#rc-input {
  width:40%
}
#rc-id {
  width:2px;
}
#rc-slider {
  width:50%;
}
#rgb-input {
  width: 25px;
}
#checkboxdiv {
  display: inline-block;
  width: 100%;
  float: left;
}
#check-id {
  transform: scale(1.4);
}
#cblabel {
  width: 68%;
  left: -7px;
  position: relative;
}
#cb {
  width: 50px;
  top: -2px;
  left: -27px;
  position: relative;
}
#hex-btn {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-family: 'Lato', sans-serif;
}
span {
  font-family: 'Lato', sans-serif;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 18px;
  background: #838383;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 23px;
  background: #fffdfe;
  cursor: pointer;
}
#r-slider::-webkit-slider-thumb{
  background: #ff6d7b;
}
#g-slider::-webkit-slider-thumb{
  background: #a3ff9e;
}
#b-slider::-webkit-slider-thumb{
  background: #b2eaff;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fffdfe;
  cursor: pointer;
}